<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Which ingredients are ‘harmful ingredients’?
    </span>
  </summary>
  <div class="govuk-details__text">
    <div class='ingredient-group govuk-!-margin-bottom-6'>
      <h2 class='govuk-heading-m'>
        Glycols and glycol ethers
      </h2> 
      <p class='govuk-!-margin-bottom-0'>
        Above 1%
      </p>
      <ul class='govuk-!-margin-top-0'>
        <li>Buteth-2 Acetate</li>
        <li>Butoxydiglycol</li>
        <li>Butoxyethanol</li>
        <li>Butoxyethyl Acetate</li>
        <li>Diethoxydiglycol</li>
        <li>Ethoxydiglycol</li>
        <li>Ethoxydiglycol Acetate</li>
        <li>Ethylene Glycol Only (INCI name: ‘Glycol’)</li>
        <li>Glycol Ethers (not Polymers)</li>
      </ul>
      <p class='govuk-!-margin-bottom-0'>
        Above 10%
      </p>
      <ul class='govuk-!-margin-top-0'>
        <li>Dipropylene Glycol</li>
        <li>Dipropylene Glycol Dimethyl Ether</li>
        <li>Dipropylene Glycol Isobornyl Ether</li>
        <li>Methoxyisopropanol</li>
        <li>Methoxyisopropyl Acetate</li>
        <li>Ppg-2 Methyl Ether</li>
        <li>Ppg-2 Methyl Ether Acetate</li>
        <li>Propylene Glycol</li>
        <li>Propylene Glycol Butyl Ether</li>
      </ul>
    </div>
    <div class='ingredient-group govuk-!-margin-bottom-6'>
    <h2 class='govuk-heading-m'>
      Hydrocarbon solvents
    </h2> 
      <p class='govuk-!-margin-bottom-0'>
        Above 5%
      </p>
      <ul class='govuk-!-margin-top-0'>
        <li>Cyclohexane </li>
        <li>Hydrogenated Didodecene</li>
        <li>Isopentane</li>
        <li>Pentane</li>
        <li>Toluene</li>
        <li>Turpentine</li>
      </ul>
    </div>
    <div class='ingredient-group govuk-!-margin-bottom-6'>
      <h2 class='govuk-heading-m'>
        Ethanol and isopropanol
      </h2>
      <p class='govuk-!-margin-bottom-0'>Above 1%</p>
      <ul class='govuk-!-margin-top-0'>
        <li>Benzyl alcohol</li>
        <li>Furfuryl alcohol</li>
        <li>n-Butyl alcohol</li>
        <li>n-Propyl alcohol (INCI name: ‘propyl alcohol’)</li>
        <li>t-Butyl alcohol</li>
      </ul>
      <p class='govuk-!-margin-bottom-0'>Above 5%</p>
      <ul class='govuk-!-margin-top-0'>
        <li>Hexyl alcohol</li>
      </ul>
    </div>

    <div class='ingredient-group govuk-!-margin-bottom-6'>
      <h2 class='govuk-heading-m'>Other ingredients</h2>

      <p class='govuk-!-margin-bottom-0'>Any amount of</p>
      <ul class='govuk-!-margin-top-0'>
        <li>Brucine Sulfate</li>
      </ul>

      <p class='govuk-!-margin-bottom-0'>More than 0.1%</p>
      <ul class='govuk-!-margin-top-0'>
        <li>Butyrolactone</li>
        <li>Chloroplatinic Acid</li>
        <li>Copper Sulfate</li>
        <li>Dimethyltolylamine</li>
        <li>Methyl Acetate</li>
        <li>Potassium Chlorate</li>
        <li>Sodium Chlorate</li>
        <li>Triethyl Phosphate</li>
        <li>m-Cresol, o-Cresol, p-Cresol, Mixed Cresols</li>
      </ul>

      <p class='govuk-!-margin-bottom-0'>More than 0.2%</p>
      <ul class='govuk-!-margin-top-0'>
        <li>Formaldehyde</li>
      </ul>

      <p class='govuk-!-margin-bottom-0'>More than 1%</p>
      <ul class='govuk-!-margin-top-0'>
        <li>Benzyl Benzoate</li>
        <li>Butyl Acetate</li>
        <li>Ethyl Acetate</li>
        <li>Hydroxylamine HCL; Hydroxylamine Sulfate</li>
      </ul>
    </div>



    <h2 class='govuk-heading-m'>
      Any ingredients classified as:
    </h2>
    <ul class='govuk-!-margin-top-0'>
      <li>
        Alkaline agents
      </li>
      <li>
        Anti dandruff agents
      </li>
      <li>
        Anti hair loss agents
      </li>
      <li>
        Anti pigmenting and depigmenting agents
      </li>
      <li>
        Cationic surfactants
      </li>
      <li>
        Chemical exfoliating agents
      </li>
      <li>
        Compounds releasing hydrogen peroxide
      </li>
      <li>
        Fluoride compounds
      </li>
      <li>
        Hydrogen peroxide
      </li>
      <li>
        Inorganic sodium salts
      </li>
      <li>
        Persulfates
      </li>
      <li>
        Propellants
      </li>
      <li>
        Reducing agents
      </li>
      <li>
        Straightening agents
      </li>
      <li>
        Vitamin A or its derivatives
      </li>
      <li>
        Xanthine derivatives
      </li>
    </ul>
  </div>
</details>