<ul class='govuk-list govuk-list--bullet govuk-!-margin-top-0'>
  <li>
    Alkaline agents
  </li>
  <li>
    Anti dandruff agents
  </li>
  <li>
    Anti hair loss agents
  </li>
  <li>
    Anti pigmenting and depigmenting agents
  </li>
  <li>
    Essential oils, camphor, menthol or eucalyptol
  </li>
  <li>
    Cationic surfactants
  </li>
  <li>
    Chemical exfoliating agents
  </li>
  <li>
    Compounds releasing hydrogen peroxide
  </li>
  <li>
    Fluoride compounds
  </li>
  <li>
    Hydrogen peroxide
  </li>
  <li>
    Inorganic sodium salts
  </li>
  <li>
    Persulfates
  </li>
  <li>
    Propellants
  </li>
  <li>
    Reducing agents
  </li>
  <li>
    Straightening agents
  </li>
  <li>
    Vitamin A or its derivatives
  </li>
  <li>
    Xanthine derivatives
  </li>
</ul>