{% import "../includes/what-to-provide.html" as content %}
{{ content.generalInformationHeading('govuk-heading-l') }}
{{ content.productName() }}
{{ content.under3() }}
{{ content.shades() }}
{{ content.multiComponent() }}
{{ content.multiComponentInfo('govuk-heading-m') }}
{{ content.componentInformationHeading('govuk-heading-m') }}
{{ content.physicalForm() }}
{{ content.applicator() }}
{{ content.cmr() }}
{{ content.nanomaterials('govuk-heading-m') }}
{{ content.formulation('govuk-heading-m') }}
{{ content.productImage('govuk-heading-m') }}