{% macro informationYouNeedToSubmit() %}
  Information you need to submit
{% endmacro %}

{% macro cpnpFile() %}
  <p>
    Not all information is contained in the EU notification file. You will be told what you need to add after you have uploaded it.
  </p>
{% endmacro %}

{% macro formulationUpload(headingSize) %}
  <h2 class="{{ headingSize }}">
    Formulation
  </h2>
  <p>
    You need to provide formulation information separately if you added the formulation as a separate document when you notified the EU. 
  </p>
  <p>
    <a href='../guidance/ingredients-document.html' class='govuk-link--no-visited-state'>
      How to prepare a list of ingredients
    </a>
  </p>
{% endmacro %}

{% macro postBrexitFormulation(headingSize) %}
  <h2 class="{{ headingSize }}">
    Formulation
  </h2>
  <p>
    If the formulation for the product was given as either ‘frame formulation’ or ‘ingredients and their concentration ranges’ you need to provide the exact quantities of ingredients important to the National Poison Information Services (NPIS).
  </p>
  {% include '../includes/harmful_ingredients_summary.html' %}
  <p>
    If the formulation for the products was given as ‘ingredients and their concentration ranges’ or ‘ingredients and their exact concentration’ uploaded as a separate document when notified in the EU, you need to provide this separately.
  </p>
  <p>
    <a href='../guidance/ingredients-document.html' class='govuk-link--no-visited-state'>
      How to submit a list of ingredients
    </a>
  </p>
{% endmacro %}


{% macro nanomaterial(headingSize) %}
  <h2 class="{{ headingSize }}">
    Nanomaterials
  </h2>
  <p class='govuk-!-margin-bottom-1'>
    If your product contains nanomaterials you need to say if they are: 
  </p>
  <ul class='govuk-list govuk-list--bullet'>
    <li>listed in annex 4, 5, or 6 of EC Regulation 1223/2009</li>
    <li>used in accordance with any restrictions for that material</li>
  </ul>
  <p>
    You need to provide a separate nanomaterial notification if they are not listed or used in accordance with any restrictions.
  </p>
  <p>
    <a href='#' class='govuk-link--no-visited-state'>How to notify nanomaterials</a>
  </p>
{% endmacro %}

{% macro productImage(headingSize) %}
  <h2 class="{{ headingSize }}">
    Product image
  </h2>
  <p>
    Upload the artwork for the product label. To help NPIS identify the product, you can also upload a photo of the product and also it’s packaging.
  </p>
  <p>
    <a href='../guidance/image-guidance' class='govuk-link--no-visited-state'>How to submit images for notifications</a>
  </p>
{% endmacro %}

{% macro generalInformationHeading(headingSize) %}
  <h2 class='{{ headingSize }}'>
    Overview
  </h2>
{% endmacro %}

{% macro productName() %}
  <p>
    Product name – as it appears on the label, including the brand name, range, and product name.
  </p>
{% endmacro %}

{% macro under3() %}
  <p>
    State whether product is intended for children under 3.
  </p>
{% endmacro %}

{% macro shades() %}
  <p>
    List of shades – if the product is sold in shades and all aspects of the notification are the same you can notify multiple shades using a single notification.
  </p>
{% endmacro %}

{% macro multiComponent() %}
  <p>
    State if the product is a single item or multi-item kit – if the product has multiple items that are sold together and are mixed or used sequentially. For example, a hair dye set or skin peeling kit.
  </p>
{% endmacro %}

{% macro multiComponentInfo(headingSize) %}
  <p class='govuk-!-margin-bottom-1'>
    If the product is a multi-item kit you need to:
  </p>
  <ul class='govuk-list govuk-list--bullet'>
    <li>
      provide the name of each component
    </li>
    <li>
      state if the items are mixed or used in sequence
    </li>
    <li>
      provide the pH range if the product is a hair dye, or if its pH is below 3 or above 10
    </li>
  </ul>
{% endmacro %}

{% macro componentInformationHeading(headingSize) %}
  <h2 class='{{ headingSize }}'>
    Details
  </h2>
  <p>
    For single-item products, you need to provide this information once. For <span class='no-wrap'>multi-item</span> kits, you need to provide this information for each item in the kit.
  </p>
{% endmacro %}

{% macro physicalForm() %}
  <p>
    The physical form of the product (for example solid or powder)
  </p>
{% endmacro %}

{% macro applicator() %}
  <p>
    If the product comes in an applicator (for example, a wipe, sponge, patch, pad or encapsulated)
  </p>
{% endmacro %}

{% macro cmr() %}
  <p>
    If the product contains substances listed as Category 1A or 1B mutagens, carcinogens or reproductive toxicants (CMRs).
  </p>
{% endmacro %}

{% macro nanomaterials(headingSize) %}
  <h3 class="{{ headingSize }}">
    Nanomaterials
  </h3>
  <p class='govuk-!-margin-bottom-1'>
    For each nanomaterial the product or item has you need to:
  </p>
  <ul class='govuk-list govuk-list--bullet'>
    <li>provide its IUPAC name</li>
    <li>state how the user likely to be exposed to the nanomaterial (dermal, oral, or inhalation)</li>
    <li>state if the user is instructed to rinse off or leave on the product</li>
    <li>state its purpose (colourant, preservative, UV filter, or other)</li>
  </ul>
  <p>
    If the nanomaterial is not listed in <a href="https://harmful-ingredients.herokuapp.com/guidance/how-to-prepare#" class='govuk-link--no-visited-state'>EC regulation 1223/2009, Annex 4, 5, or 6</a> or used in accordance with the restrictions for that material you need to provide more information.
  </p>
  <p>
    <a href='#' class='govuk-link--no-visited-state'>How to notify nanomaterials</a>
  </p>
{% endmacro %}

{% macro formulation(headingSize) %}
  <h2 class="{{ headingSize }}">
    Formulation
  </h2>
  <p>
    There are 3 ways to submit the formulation of the product:
  </p>
  <ul class='govuk-list'>
    <li class='govuk-!-padding-bottom-2'>
      <h3 class="{{ headingSize }}">
        Frame formulation
      </h3>
      <p>
        A ‘frame formulation’ lists the category or function of ingredients and their maximum concentration in the product. There are frame formulations for most cosmetic products.
      </p>
      <p>
        <a href='/public/documents/frame-formulations.pdf' download class='govuk-link--no-visited-state'>
          Download the list of frame formulations (PDF)
        </a>
      </p>
    </li>
    <li class='govuk-!-padding-bottom-2'>
      <h3 class="{{ headingSize }}">
        List the ingredients and their concentration range
      </h3>
      <p>
        For each ingredient give the ingredient and the amount as a range percentage weight for weight (% w/w). For example, aqua above 75%, up to and including 100%.
      </p>
      <p>
        <a href="../guidance/ingredients-document" class="govuk-link--no-visited-state">How to prepare your ingredients list</a>
      </p>
    </li>
    <li class='govuk-!-padding-bottom-2'>
      <h3 class="{{ headingSize }}">
        List the ingredients and their exact concentration
      </h3>
      <p>
        For each ingredient give the ingredient and the amount as percentage weight for weight (% w/w).
      </p>
      <p>
        For example, aqua 85% w/w.
      </p>
      <p>
        <a href="../guidance/ingredients-document" class="govuk-link--no-visited-state">How to prepare your ingredients list</a>
      </p>
    </li>
  </ul>
{% endmacro %}
