
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Home",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class='govuk-heading-xl'>
          How to create your list of harmful ingredients
      </h1>

      <p>
        If you notify a cosmetic product using a frame formulation and your product contains ’harmful ingredients’ you need to submit a list of the ingredients and their concentration.
      </p>

      {% include "../includes/harmful_ingredients.html" %}

      <h2 class='govuk-heading-m'>
        What to include in your document
      </h2>
      <p>
        Use the International Nomenclature of Cosmetic Ingredients (INCI) name and its exact concentration as a percentage weight for weight.
      </p>
      <p>
        List ingredients in decreasing order of concentration.
      </p>
      {{ govukTable({
          caption: "Example harmful ingredients document",
          firstCellIsHeader: true,
          head: [
            {
              text: "Ingredient"
            },
            {
              text: "Amount (w/w)"
            }
          ],
          rows: [
            [
              {
                text: "Dipropylene Glycol"
              },
              {
                text: "25%",
                format: "numeric"
              }
            ],
            [
              {
                text: "Sodium Chlorate"
              },
              {
                text: "20%",
                format: "numeric"
              }
            ]
          ]
        }) }}

      {% include "../includes/document_types.html" %}

    </div>
  </div>
{% endblock %}


