
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Home",
  href: "../index"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      How to prepare a cosmetic product notification
    </h1>
    <p class=''>
      To submit a product notification you can either use data from an <span class='no-wrap'>EU notification</span> or give the information manually. By using the data from your <span class='no-wrap'>EU notification</span> you need to answer fewer questions.
    </p>

    <p class='govuk-!-margin-bottom-1'>
      If you placed products on the market:
    </p>
    <ul class='govuk-list govuk-list--bullet'>
      <li>
        before Brexit, you can upload an EU notification file, or notify manually
      </li>
      <li>
        after Brexit, in the EU and UK, you can upload an EU notification file, or notify manually
      </li>
      <li>
        after Brexit, in the UK but not the EU, you must notify manually
      </li>
    </ul>
    <h2 class='govuk-heading-s'>
      How to notify by uploading an EU notification file
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        export your data as a ZIP file for each notification – this needs to be the same format as exported from CPNP
      </li>
      <li>
        upload the ZIP files to this service
      </li>
      <li>
        provide additional information not contained in the EU notification file
      </li>
    </ul>
    <p class='govuk-!-margin-bottom-2'>
      You can upload 100 files at a time.
    </p>

    <h2 class='govuk-heading-l govuk-!-margin-top-6'>
      Products notified in the EU before Brexit
    </h2>
    <h3 class='govuk-heading-m'>
      General product information
    </h3>
    <h4 class='govuk-heading-s'>
      Upload
    </h4>
    <p>
      If you are using an EU notification file you do not need to provide any additional information.
    </p>
    <h4 class='govuk-heading-s'>
      Manual notification
    </h4>
    <p class='govuk-!-margin-bottom-1'>
      If you are notifiying manually you need to provide:
    </p>
    <ul class='govuk-list govuk-list--bullet'>
      <li>product name</li>
      <li>shades of the product</li>
    </ul>
    <p class='govuk-!-margin-bottom-1'>
      If the product is a kit, you must also include:
    </p>
    <ul class='govuk-list govuk-list--bullet'>
      <li>the name of each component in the kit</li>
      <li>if they are mixed or used sequentially</li>
      <li>the pH range once mixed</li>
      <li>the shades of the component</li>
    </ul>
    
    <h3 class='govuk-heading-m'>
      Product formulation
    </h3>
    <h4 class='govuk-heading-s'>
      Upload
    </h4>
    <p>
      If the formulation information for the original EU notification was a seperate document you need to add this seperatly to the UK notification. This is a seperate document to the EU notification file, we’ll ask you for it once you have uploaded the EU notification file.
    </p>
    <p>
      <a href='../guidance/ingredients-document' class='govuk-link--no-visited-state'>How to prepare ingredients documents</a>
    </p>
    <h4 class='govuk-heading-s'>
      Manual notification
    </h4>
    <p class=''>
      You can provide the formulation by choosing a predefined frame formulation or uploading a document with the ingredients and their exact concentration or concentration ranges.
    </p>
    <p>
      <a href='/public/documents/frame-formulations.pdf' download class='govuk-link--no-visited-state'>
        Download list of frame formulations (PDF)
      </a>
    </p>
    <p>
      <a href='../guidance/ingredients-document' class='govuk-link--no-visited-state'>How to prepare ingredients documents</a>.
    </p>

    <h3 class='govuk-heading-m'>
      Image of the product
    </h3>
    <p>
      You do not need to provide any images of the product.
    </p>

    <h3 class='govuk-heading-m'>
      Nanomaterials
    </h3>
    <h4 class='govuk-heading-s'>
      Upload and manual
    </h4>
    <p>
      You only need to provide information about nanomaterials in the product if it is not listed in EC regulation 1223/2009, Annex 4, 5, or 6 or not used in accordance with the restrictions for that material.
    </p>
     <p class='govuk-!-margin-bottom-1'>
      To determine if you need to provide more information about the nanomaterial you must provide its:
    </p>
    <ul class='govuk-list govuk-list--bullet'>
      <li>INCI name</li>
      <li>purpose</li>
    </ul>
    <p>
      There is a seperate process for <a href='#' class='govuk-link--no-visited-state'>notifying nanomaterials not listed in EC regulation 1223/2009, Annex 4, 5, or 6</a>.
    </p>

    <h3 class='govuk-heading-m'>
      Harmful ingredients
    </h3>
    <p>
      You do not need to include harmful ingredient information.
    </p>
    
    <h2 class='govuk-heading-l govuk-!-margin-top-6'>
      Products not notified in the EU before Brexit
    </h2>
    <h3 class='govuk-heading-m'>
      General product information
    </h3>
    <h4 class='govuk-heading-s'>
      Upload
    </h4>
    <p>
      If you are using an EU notification file you do not need to provide any additional information.
    </p>
    <h4 class='govuk-heading-s'>
      Manual notification
    </h4>
    <p class='govuk-!-margin-bottom-1'>
      You need to provide:
    </p>
    <ul class='govuk-list govuk-list--bullet'>
      <li>if the product is intended for children under 3</li>
      <li>the physical form of the product</li>
      <li>if the product comes in an applicator</li>
      <li>if the product contains Category 1A or 1B mutagens, carcinogens or reproductive toxicants (CMRs)</li>
    </ul>
    <p class='govuk-!-margin-bottom-1'>
      If the product is a kit, you must also include:
    </p>
    <ul class='govuk-list govuk-list--bullet'>
      <li>the name of each component in the kit</li>
      <li>if they are mixed or used sequentially</li>
      <li>the pH range once mixed</li>
      <li>the shades of the component</li>
    </ul>
    <h3 class='govuk-heading-m'>
      Product formulation
    </h3>
    <h4 class='govuk-heading-s'>
      Upload
    </h4>
    <p>
      If the formulation information for the original EU notification was a seperate document you need to add this seperatly to the UK notification. This is a seperate document to the EU notification file, we’ll ask you for it once you have uploaded the EU notification file.
    </p>
    <p>
      <a href='../guidance/ingredients-document' class='govuk-link--no-visited-state'>How to prepare ingredients documents</a>
    </p>
    <h4 class='govuk-heading-s'>
      Manual notification
    </h4>
    <p class=''>
      You can provide the formulation by choosing a predefined frame formulation or uploading a document with the ingredients and their exact concentration or concentration ranges.
    </p>
    <p>
      <a href='/public/documents/frame-formulations.pdf' download class='govuk-link--no-visited-state'>
        Download list of frame formulations (PDF)
      </a>
    </p>
    <p>
      <a href='../guidance/ingredients-document' class='govuk-link--no-visited-state'>How to prepare ingredients documents</a>.
    </p>

    <h3 class='govuk-heading-m'>
      Image of the product
    </h3>
    <p>
      You must upload the artwork for the product label. To help National Poison Information Services identify the product, you can upload a photo of the product and also its packaging.
    </p>
    <p>
      <a href='../guidance/image-guidance.html' class='govuk-link--no-visited-state'>How to prepare images for notifications</a>
    </p>

    <h3 class='govuk-heading-m'>
      Nanomaterials
    </h3>
    <h4 class='govuk-heading-s'>
      Upload and manual
    </h4>
    <p class='govuk-!-margin-bottom-1'>
      You need to provide:
    </p>
    <ul class='govuk-list govuk-list--bullet'>
      <li>INCI name</li>
      <li>purpose</li>
      <li>how the user likely to be exposed to the nanomaterial</li>
      <li>if the user is instructed to rinse off or leave on the product</li>
    </ul>
    <p>
      There is a seperate process for <a href='#' class='govuk-link--no-visited-state'>notifying nanomaterials not listed in EC regulation 1223/2009, Annex 4, 5, or 6</a>.
    </p>


    <h3 class='govuk-heading-m'>
      Harmful ingredients
    </h3>
    <h4 class='govuk-heading-s'>
      Upload
    </h4>
    <p class='govuk-!-margin-bottom-1'>
      You must list any ingredients with the volume % w/w classified as:
    </p>
    {% include "../includes/ingredients_of_concern.html" %}
    <h4 class='govuk-heading-s'>
      Manual notification
    </h4>
    <p>
      You must list these ingredients with the volume % w/w:
    </p>
    {% include "../includes/harmful_ingredients.html" %}
    <h4 class='govuk-heading-s'>
      Any ingredients classified as:
    </h4>
    {% include "../includes/ingredients_of_concern.html" %}
  </div>
</div>
{% endblock %}