
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Home",
  href: "../index"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      How to prepare a cosmetic product notification
    </h1>
    <p class=''>
      To submit a product notification you can either use data from an <span class='no-wrap'>EU notification</span> or give the information manually. By using the data from your <span class='no-wrap'>EU notification</span> you need to answer fewer questions.
    </p>

    <p class='govuk-!-margin-bottom-1'>
      If you placed products on the market:
    </p>
    <ul class='govuk-list govuk-list--bullet'>
      <li>
        before Brexit, you can upload an EU notification file, or notify manually
      </li>
      <li>
        after Brexit, in the EU and UK, you can upload an EU notification file, or notify manually
      </li>
      <li>
        after Brexit, in the UK but not the EU, you must notify manually
      </li>
    </ul>
    <h2 class='govuk-heading-s'>
      How to notify by uploading an EU notification file
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        export your data as a ZIP file for each notification – this needs to be the same format as exported from CPNP
      </li>
      <li>
        upload the ZIP files to this service
      </li>
      <li>
        files exported from CPNP do not contain all the information required for a notification, you must provide this information...
      </li>
    </ul>
    <p class='govuk-!-margin-bottom-6'>
      You can upload 100 files at a time.
    </p>

    <p>
      <a href='#' class='govuk-link--no-visited-state'>
        Start notifying cosmetic products
      </a>
    </p>

    <h2 class='govuk-heading-m govuk-!-margin-top-9'>
      Information you need for a notification
    </h2>
  </div>
  <div class='govuk-grid-column-full'>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-heading-m">Product overview</caption>
      <thead class='govuk-table__head'>
        <tr class='govuk-table__row'>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
            Information
          </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
            Contained in the <span class='no-wrap'>EU notification file</span>
          </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
            Required for products placed on the market before Brexit
          </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
            Required for products placed on the market after Brexit
          </th>
        </tr>
      </thead>
      <tbody class='govuk-table__body'>
        <tr class='govuk-table__row'>
          <td class='govuk-table__cell'>
            Cosmetic product name
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
        </tr>
        <tr class='govuk-table__row'>
          <td class='govuk-table__cell'>
            List of components, if the product is a kit
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
        </tr>
        <tr class='govuk-table__row'>
          <td class='govuk-table__cell'>
            Shades the product is available
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
        </tr>
        <tr class='govuk-table__row'>
          <td class='govuk-table__cell'>
            Physical form of the product
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
          <td class='govuk-table__cell'>
            No
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
        </tr>
        <tr class='govuk-table__row'>
          <td class='govuk-table__cell'>
            Special applicator
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
          <td class='govuk-table__cell'>
            No
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
        </tr>
        <tr class='govuk-table__row'>
          <td class='govuk-table__cell'>
            Product category
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
        </tr>
        <tr class='govuk-table__row'>
          <td class='govuk-table__cell'>
            Formulation
          </td>
          <td class='govuk-table__cell'>
            <p>
              Yes if submitted as a frame formulation or input directly into CPNP.
            </p>
            <p>
              If the information was attached as a separate document, it will not be in the EU file.
            </p>
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
        </tr>
        <tr class='govuk-table__row'>
          <td class='govuk-table__cell'>
            An image of the product
          </td>
          <td class='govuk-table__cell'>
            No
          </td>
          <td class='govuk-table__cell'>
            No
          </td>
          <td class='govuk-table__cell'>
            Yes
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='govuk-grid-column-two-thirds'>
    <p>
      <a href='image-guidance' class='govuk-link--no-visited-state'>
        How to prepare an image for notification
      </a>
    </p>
  </div>

  <div class='govuk-grid-column-full'>
    <table class="govuk-table govuk-!-margin-top-9">
      <caption class="govuk-table__caption govuk-heading-m">
        Nanomaterials
      </caption>
      <thead class='govuk-table__head'>
        <tr class='govuk-table__row'>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
            Information
          </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
            Contained in the <span class='no-wrap'>EU notification file</span>
          </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
            Required for products placed on the market before Brexit
          </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
            Required for products placed on the market after Brexit
          </th>
        </tr>
      </thead>
      <tbody class='govuk-table__body'>
        <tr class='govuk-table__row'>
          <td class='govuk-table__cell'>
            Nanomaterial name
            <td class='govuk-table__cell'>
              Yes
            </td>
            <td class='govuk-table__cell'>
              Yes
            </td>
            <td class='govuk-table__cell'>
              Yes
            </td>
          </tr>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>
              The purpose of the nanomateial
            </td>
            <td class='govuk-table__cell'>
              No
            </td>
            <td class='govuk-table__cell'>
              Yes
            </td>
            <td class='govuk-table__cell'>
              Yes
            </td>
          </tr>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>
              If the product intended to be rinsed off or left on
            </td>
            <td class='govuk-table__cell'>
              No
            </td>
            <td class='govuk-table__cell'>
              No
            </td>
            <td class='govuk-table__cell'>
              Yes
            </td>
          </tr>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>
              How the user is likely to be exposed to the nanomaterial
            </td>
            <td class='govuk-table__cell'>
              No
            </td>
            <td class='govuk-table__cell'>
              No
            </td>
            <td class='govuk-table__cell'>
              Yes
            </td>
          </tr>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  <div class='govuk-grid-column-two-thirds'>
    <p>
      If the nanomaterial is not listed in EC regulation 1223/2009, Annex 4, 5, or 6 you will need to provide comprehensive information about it.
    </p>
    <p>
      <a href='#' class='govuk-link--no-visited-state'>
        How to notify nanomaterials
      </a>
    </p>
    <h3 class='govuk-heading-m govuk-!-margin-top-9'>
      Harmful ingredients
    </h3>
    <p>
      If your product was notified before Brexit you do not need to include harmful ingredients.
    </p>
  </div>
<div class='govuk-grid-column-full'>
  <table class="govuk-table">
    <thead class='govuk-table__head'>
      <tr class='govuk-table__row'>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
          Information
        </th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
          Contained in the <span class='no-wrap'>EU notification file</span>
        </th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
          Manual notification
        </th>
      </tr>
    </thead>
    <tbody class='govuk-table__body'>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Alkaline agents
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Anti-dandruff agents
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Anti-hair loss agents
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Anti-pigmenting and depigmenting agents
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Benzyl Benzoate
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Brucine Sulfate
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Butyl Acetate
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Butyrolactone
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Cationic surfactants
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Chemical exfoliating agents
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Chloroplatinic Acid
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Compounds releasing hydrogen peroxide
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Copper Sulfate
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Dimethyltolylamine
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Essential oils, camphor, menthol or eucalyptol
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Ethanol
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Ethyl Acetate
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Fluoride compounds
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Formaldehyde
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Glycols and glycol ethers
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Hydrocarbon solvents
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Hydrogen peroxide
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Hydroxylamine HCL; Hydroxylamine Sulfate
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Inorganic sodium salts
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Isopropanol
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          m-Cresol
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Methyl Acetate
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Mixed Cresols
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          o-Cresol
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Persulfates
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Potassium Chlorate
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Propellant
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Reducing agents
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Sodium Chlorate
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Straightening agents
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Triethyl Phosphate
        </td>
        <td class='govuk-table__cell'>
          No
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Vitamin A or its derivatives
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
      <tr class='govuk-table__row'>
        <td class='govuk-table__cell'>
          Xanthine derivatives
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
        <td class='govuk-table__cell'>
          Yes
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
{% endblock %}



