{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: '/notification-flow/select-formulation-type'
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class='govuk-heading-xl'>
      Poisonous ingredients
    </h1>

    <p>
      To treat anyone who may be poisoned by the product, <span class='no-wrap'>National Poison Centres</span> need the exact quantities (% w/w) of the most <span class='no-wrap'>harmful ingredients</span>.
    </p>

    <h2 class='govuk-heading-s govuk-!-margin-bottom-2'>
        Glycols and glycol ethers
      </h2> 
      <p class='govuk-!-margin-bottom-1 govuk-body-s'>
        Above 1%
      </p>
      <ul class='govuk-!-margin-top-0 govuk-list govuk-list--bullet govuk-body-s'>
        <li>Buteth-2 Acetate</li>
        <li>Butoxydiglycol</li>
        <li>Butoxyethanol</li>
        <li>Butoxyethyl Acetate</li>
        <li>Diethoxydiglycol</li>
        <li>Ethoxydiglycol</li>
        <li>Ethoxydiglycol Acetate</li>
        <li>Ethylene Glycol Only (INCI name: ‘Glycol’)</li>
        <li>Glycol Ethers (not Polymers)</li>
      </ul>
      <p class='govuk-!-margin-bottom-1 govuk-body-s'>
        Above 10%
      </p>
      <ul class='govuk-!-margin-top-0 govuk-list govuk-list--bullet govuk-body-s'>
        <li>Dipropylene Glycol</li>
        <li>Dipropylene Glycol Dimethyl Ether</li>
        <li>Dipropylene Glycol Isobornyl Ether</li>
        <li>Methoxyisopropanol</li>
        <li>Methoxyisopropyl Acetate</li>
        <li>PPG-2 Methyl Ether</li>
        <li>PPG-2 Methyl Ether Acetate</li>
        <li>Propylene Glycol</li>
        <li>Propylene Glycol Butyl Ether</li>
      </ul>
    <h2 class='govuk-heading-s govuk-!-margin-bottom-2'>
        Hydrocarbon solvents
      </h2> 
      <p class='govuk-!-margin-bottom-1 govuk-body-s'>
        Above 5%
      </p>
      <ul class='govuk-!-margin-top-0 govuk-list govuk-list--bullet govuk-body-s'>
        <li>Cyclohexane </li>
        <li>Hydrogenated Didodecene</li>
        <li>Isopentane</li>
        <li>Pentane</li>
        <li>Toluene</li>
        <li>Turpentine</li>
      </ul>
    <h2 class='govuk-heading-s govuk-!-margin-bottom-2'>
        Ethanol and isopropanol
      </h2>
      <p class='govuk-!-margin-bottom-1 govuk-body-s'>Above 1%</p>
      <ul class='govuk-!-margin-top-0 govuk-list govuk-list--bullet govuk-body-s'>
        <li>Benzyl alcohol</li>
        <li>Furfuryl alcohol</li>
        <li>n-Butyl alcohol</li>
        <li>n-Propyl alcohol (INCI name: ‘propyl alcohol’)</li>
        <li>t-Butyl alcohol</li>
      </ul>
      <p class='govuk-!-margin-bottom-1 govuk-body-s'>Above 5%</p>
      <ul class='govuk-!-margin-top-0 govuk-list govuk-list--bullet govuk-body-s'>
        <li>Hexyl alcohol</li>
      </ul>

    <h2 class='govuk-heading-s govuk-!-margin-bottom-2'>
        Other ingredients
      </h2>

      <p class='govuk-!-margin-bottom-1 govuk-body-s'>Any amount of</p>
      <ul class='govuk-!-margin-top-0 govuk-list govuk-list--bullet govuk-body-s'>
        <li>Brucine Sulfate</li>
      </ul>

      <p class='govuk-!-margin-bottom-1 govuk-body-s'>More than 0.1%</p>
      <ul class='govuk-!-margin-top-0 govuk-list govuk-list--bullet govuk-body-s'>
        <li>Butyrolactone</li>
        <li>Chloroplatinic Acid</li>
        <li>Copper Sulfate</li>
        <li>Dimethyltolylamine</li>
        <li>Methyl Acetate</li>
        <li>Potassium Chlorate</li>
        <li>Sodium Chlorate</li>
        <li>Triethyl Phosphate</li>
        <li>m-Cresol, o-Cresol, p-Cresol, Mixed Cresols</li>
      </ul>

      <p class='govuk-!-margin-bottom-1 govuk-body-s'>More than 0.2%</p>
      <ul class='govuk-!-margin-top-0 govuk-list govuk-list--bullet govuk-body-s'>
        <li>Formaldehyde</li>
      </ul>

      <p class='govuk-!-margin-bottom-1 govuk-body-s'>More than 1%</p>
      <ul class='govuk-!-margin-top-0 govuk-list govuk-list--bullet govuk-body-s'>
        <li>Benzyl Benzoate</li>
        <li>Butyl Acetate</li>
        <li>Ethyl Acetate</li>
        <li>Hydroxylamine HCL; Hydroxylamine Sulfate</li>
      </ul>
      
      <h2 class='govuk-heading-s govuk-!-margin-bottom-2'>Any ingredients classified as:</h2>
      <ul class='govuk-list govuk-list--bullet govuk-!-margin-top-1 govuk-body-s'>
        <li>
          Alkaline agents
        </li>
        <li>
          Anti-dandruff agents
        </li>
        <li>
          Anti-hair loss agents
        </li>
        <li>
          Anti-pigmenting and depigmenting agents
        </li>
        <li>
          Cationic surfactants
        </li>
        <li>
          Chemical exfoliating agents
        </li>
        <li>
          Compounds releasing hydrogen peroxide
        </li>
        <li>
          Fluoride compounds
        </li>
        <li>
          Hydrogen peroxide
        </li>
        <li>
          Inorganic sodium salts
        </li>
        <li>
          Persulfates
        </li>
        <li>
          Propellants
        </li>
        <li>
          Reducing agents
        </li>
        <li>
          Straightening agents
        </li>
        <li>
          Vitamin A or its derivatives
        </li>
        <li>
          Xanthine derivatives
        </li>
      </ul>


    <form action="/notification-flow/ingredients-of-concern-document-upload" method="post" novalidate>

      {# Question needs to be at component level #}

      {{ govukRadios({
        idPrefix: "does-the-product-contain-any-ingredients-of-concern",
        name: "does-the-product-contain-any-ingredients-of-concern",
        fieldset: {
        legend: {
        text: "Does the product contain any poisonous ingredients?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
</form>
</div>
</div>
{% endblock %}