
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: '/notification-flow/select-formulation-type'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class='govuk-heading-xl'>
          List of product ingredients
      </h1>

      {# No visited state is for prototype only #}
      <p>
        Read <a href='/guidance/ingredients-document' target="_blank" class='govuk-link--no-visited-state'>how to prepare your ingredients document (opens in a new tab)</a>.
      </p>
      {% include "../includes/document_types.html" %}

      <form action="/notification-flow/ph-between-3-and-10" method="post" novalidate>
        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            text: "Upload a file"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}


