{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/notification-flow/ph-range" method="post" novalidate>

        {{ govukRadios({
          idPrefix: "ph-between-3-and-10",
          name: "ph-between-3-and-10",
          fieldset: {
            legend: {
              text: "What is the pH range of the product?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },

          items: [
            {
              value: "yes",
              text: "The minimum pH is 3 or higher, and the maximum pH is 10 or lower"
            },
            {
              value: "no-it-is-lower-than-3-or-higher-than-10",
              text: "The minimum pH is lower than 3"
            },
            {
              value: "no-it-is-lower-than-3-or-higher-than-10",
              text: "The maximum pH is higher than 10"
            },
            {
              value: "yes",
              text: "It does not have a pH because it is a solid or powder"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}