{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: 'ph-between-3-and-10.html'
  }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          What is the pH of the cosmetic product?
        </h1>

        <form action="/notification-flow/image-upload" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="expiry-hint" role="group">
              <div class="govuk-date-input" id="expiry">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group govuk-!-margin-right-4">
                    <label class="govuk-label govuk-date-input__label" for="expiry-month">
                      Minimum pH
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-month" name="expiry-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiry-year">
                      Maximum pH
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year" name="expiry-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
