
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class='govuk-heading-xl'>
          What is the product name?
      </h1>

      <p>
        Use the name as it appears on the label, including the brand name, range and product name.
      </p>

      <form action="/notification-flow/select-formulation-type" method="post" novalidate>
        {{ govukInput({
          label: {
            text: "Product name",
            classes: "govuk-label--m"
          },
          id: "product-name",
          name: "product-name"
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}


