{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class='govuk-heading-xl'>
        Frame formulation
      </h1>

      <p>
        ‘Frame formulations’ list the category or function of a product’s ingredients and their maximum concentration. Choose the frame formulation that applies to your product.
      </p>
      <p class='govuk-!-margin-bottom-9'>
        <a href='/public/documents/frame-formulations.pdf' download class='govuk-link--no-visited-state'>
          Download list of frame formulations (PDF)
        </a>
      </p>

      <form action="/notification-flow/ingredients-of-concern-check" method="post" novalidate>

        {{ govukRadios({
          idPrefix: "formulation-type",
          name: "formulation-type",
          fieldset: {
            legend: {
              text: "What is the frame formulation of the product?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "skin-care-cream-lotion-gel-1-1",
              text: "1.1 – Skin care cream lotion gel"
              },
              {
              value: "skin-care-cream-lotion-gel-with-high-level-of-silicones-1-2",
              text: "1.2 – Skin care cream lotion gel with high level of silicones"
              },
              {
              value: "skin-care-cream-lotion-gel-with-high-level-of-humectants-1-3",
              text: "1.3 – Skin care cream lotion gel with high level of humectants"
              },
              {
              value: "skin-care-cream-lotion-gel-with-high-level-of-bulking-agents-1-4",
              text: "1.4 – Skin care cream lotion gel with high level of bulking agents"
              },
              {
              value: "skin-care-cream-lotion-gel-with-high-level-of-fatty-compounds-1-5",
              text: "1.5 – Skin care cream lotion gel with high level of fatty compounds"
              },
              {
              value: "skin-care-cream-lotion-gel-with-high-level-of-uv-filters-1-6",
              text: "1.6 – Skin care cream lotion gel with high level of uv filters"
              },
              {
              value: "skin-care-cream-lotion-gel-with-high-level-of-perfume-1-7",
              text: "1.7 – Skin care cream lotion gel with high level of perfume"
              },
              {
              value: "zinc-oxide-based-cream-1-8",
              text: "1.8 – Zinc oxide based cream"
              },
              {
              value: "skin-gel-hydro-alcoholic-based-1-9",
              text: "1.9 – Skin gel hydro alcoholic based"
              },
              {
              value: "skin-oil-1-10",
              text: "1.10 – Skin oil"
              },
              {
              value: "tonic-cosmetic-water-1-12",
              text: "1.12 – Tonic cosmetic water"
              },
              {
              value: "chemical-exfoliation-products-1-13",
              text: "1.13 – Chemical exfoliation products"
              },
              {
              value: "skin-care-silicone-based-1-14",
              text: "1.14 – Skin care silicone based"
              },
              {
              value: "petroleum-jelly-1-15 ",
              text: "1.15 – Petroleum jelly"
              },
              {
              value: "talcum-powder-loose-or-pressed-1-16",
              text: "1.16 – Talcum powder loose or pressed"
              },
              {
              value: "lip-care-stick-cream-gel-1-17",
              text: "1.17 – Lip care stick cream gel"
              }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}

